/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*@import "bulma";*/
html, body, header {
    padding: 0;
    margin: 0;
    border: 0;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

/* line 6, app/assets/stylesheets/scaffolds.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 19, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 32, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 64, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 7, app/assets/stylesheets/landlords.scss */
* {
  transition: all .2s ease-in-out;
}

/* line 10, app/assets/stylesheets/landlords.scss */
#home-page-full {
  width: 100vw;
  height: 100vh;
  align-content: center;
  text-align: center;
  background-color: rgba(5, 0, 0, 0.2);
  overflow: scroll;
  transition: all .2s ease-in-out;
}

/* line 19, app/assets/stylesheets/landlords.scss */
h1 {
  font-size: 22pt;
}

/* line 22, app/assets/stylesheets/landlords.scss */
.search-box {
  display: inline-block;
}

/* line 25, app/assets/stylesheets/landlords.scss */
.navbar-page {
  display: initial;
}

/* line 28, app/assets/stylesheets/landlords.scss */
#navbar-page {
  transition: all .4s ease-in-out;
}

/* line 31, app/assets/stylesheets/landlords.scss */
#navbar-page a {
  transition: all .4s ease-in-out;
}

/* line 34, app/assets/stylesheets/landlords.scss */
#login-out,
#login-out:link,
#login-out:visited {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding-right: 4px;
}

/* line 43, app/assets/stylesheets/landlords.scss */
.submit-name {
  color: white;
  transition: all .2s ease-out;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

/* line 58, app/assets/stylesheets/landlords.scss */
.edit-back, .edit-back a:link, .edit-back a:visited, .submit-back, .edit-back form {
  color: white;
  transition: all .2s ease-out;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  display: inline-block;
}

/* line 74, app/assets/stylesheets/landlords.scss */
.submit-back {
  background: url("/images/back-arrow.png");
  top: 15px;
  left: 15px;
  height: 24px;
}

/* line 81, app/assets/stylesheets/landlords.scss */
#back-arrow {
  position: sticky;
  top: 15px;
  left: 15px;
  float: top;
  text-align: left;
}

/* line 88, app/assets/stylesheets/landlords.scss */
.edit-back {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: stretch;
}

/* line 95, app/assets/stylesheets/landlords.scss */
.submit-name:hover {
  font-size: 21px;
}

/* line 98, app/assets/stylesheets/landlords.scss */
.show-name {
  font-size: 68px;
  height: 5px;
  padding: 45px;
  min-width: 479px;
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}

/* line 113, app/assets/stylesheets/landlords.scss */
#reviews {
  text-align: center;
  line-height: 0;
}

/* line 117, app/assets/stylesheets/landlords.scss */
#header {
  width: 80vw;
  padding: 25px;
}

/* line 126, app/assets/stylesheets/landlords.scss */
#reviews #header h1 {
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
  font-weight: normal;
  white-space: nowrap;
  display: inline;
}

/* line 134, app/assets/stylesheets/landlords.scss */
#header a:link, #header a:visited {
  float: right;
  padding-right: 200px;
  white-space: nowrap !important;
  display: inline;
}

/* line 140, app/assets/stylesheets/landlords.scss */
.line {
  width: 70vw;
  border: solid white 1px;
  display: inline-block;
}

/* line 145, app/assets/stylesheets/landlords.scss */
.show-area {
  font-size: 20px;
}

/* line 148, app/assets/stylesheets/landlords.scss */
.name-container {
  height: 28px;
  display: inline-block;
  width: 60vw;
}

/* line 154, app/assets/stylesheets/landlords.scss */
.name-container form {
  display: inline-block;
}

/* line 157, app/assets/stylesheets/landlords.scss */
.rating {
  display: inline-block;
  position: relative;
  float: right;
}

/* line 162, app/assets/stylesheets/landlords.scss */
.account-button:link,
.account-button:visited {
  color: white;
  transition: all .2s ease-out;
}

/* line 167, app/assets/stylesheets/landlords.scss */
.account-button:hover {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.1em;
}

/* line 183, app/assets/stylesheets/landlords.scss */
#results-container,
#show-landlord {
  position: relative;
  display: block;
  align-content: initial;
  text-align: left;
  width: 80vw;
  max-height: calc(94vh - 15vw - 60px);
  background-color: rgba(5, 0, 0, 0.2);
  display: inline-block;
  color: white;
  transition: all .2s ease-in-out;
}

/* line 201, app/assets/stylesheets/landlords.scss */
#show-landlord {
  text-align: center;
  display: inline-block;
  overflow: scroll;
}

/* line 207, app/assets/stylesheets/landlords.scss */
.scores div div {
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 214, app/assets/stylesheets/landlords.scss */
.scores {
  padding: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 200px;
  top: 0;
  height: auto;
}

/* line 224, app/assets/stylesheets/landlords.scss */
.org-score, .com-score, .isre-score, .overall-score {
  font-size: 36px;
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}

/* line 229, app/assets/stylesheets/landlords.scss */
.org-score strong, .com-score strong, .isre-score strong, .overall-score strong {
  font-size: 18px;
  color: #2E2F30 !important;
}

/* line 233, app/assets/stylesheets/landlords.scss */
.org-score div, .com-score div, .isre-score div, .overall-score div {
  font-size: 16px;
  font-family: sans-serif;
}

/* line 238, app/assets/stylesheets/landlords.scss */
.org-score, .com-score, .isre-score {
  top: 0;
  width: 31%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* line 246, app/assets/stylesheets/landlords.scss */
.search-title {
  float: top;
  height: 32px;
  padding: 20px;
}

/* line 252, app/assets/stylesheets/landlords.scss */
#add-landlord-container {
  float: bottom;
  height: 48px;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 0;
}

/* line 260, app/assets/stylesheets/landlords.scss */
.search-body {
  overflow: scroll;
  max-height: calc(94vh - 15vw - 60px - 164px);
  padding: 20px;
}

/* line 267, app/assets/stylesheets/landlords.scss */
#add-landlord-container a:link,
#add-landlord-container a:visited {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

/* line 273, app/assets/stylesheets/landlords.scss */
#add-landlord-container a:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* line 277, app/assets/stylesheets/landlords.scss */
#results-container span a,
#results-container span a:link,
#results-container span a:visited {
  font-size: 22px;
  color: white !important;
  transition: all .2s ease-in-out;
}

/* line 284, app/assets/stylesheets/landlords.scss */
#results-container span a:hover {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.8em;
}

/* line 290, app/assets/stylesheets/landlords.scss */
.edit-container {
  height: 16px;
  color: white;
}

/* line 294, app/assets/stylesheets/landlords.scss */
.edit-container a,
.edit-container a:link,
.edit-container a:visited {
  transition: all .2s ease-in-out;
  color: white;
}

/* line 300, app/assets/stylesheets/landlords.scss */
.edit-container a:hover {
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0);
}

/* line 305, app/assets/stylesheets/landlords.scss */
.hero-image {
  height: 25vw;
  width: auto;
  display: inline-block;
  transition: ease-in-out .2s;
  object-fit: cover;
}

/* line 313, app/assets/stylesheets/landlords.scss */
.hero-title {
  height: 5vw;
  width: auto;
  display: inline-block;
  transition: ease-in-out .2s;
}

/* line 320, app/assets/stylesheets/landlords.scss */
#navbar-page {
  display: block;
  width: 100vw !important;
  height: 10vh;
}

/* line 326, app/assets/stylesheets/landlords.scss */
#navbar-page a:hover {
  background-color: transparent;
}

/* line 329, app/assets/stylesheets/landlords.scss */
#navbar-page a img {
  width: auto;
  height: 8vh;
}

/* line 334, app/assets/stylesheets/landlords.scss */
#navbar-page a img:hover {
  width: 12.5vw;
  opacity: .5;
}

/* line 338, app/assets/stylesheets/landlords.scss */
.hero-page, #navbar-page a {
  position: fixed;
  left: 2.5px;
  top: 2.5px;
}

/* line 344, app/assets/stylesheets/landlords.scss */
.spacer {
  height: 5vh;
  width: 100vw;
  transition: ease-in-out .2s;
}

/* line 350, app/assets/stylesheets/landlords.scss */
#spacer-4 {
  height: 2.5vh;
}

/* line 353, app/assets/stylesheets/landlords.scss */
#spacer-n {
  height: 1.5vh;
}

/* line 356, app/assets/stylesheets/landlords.scss */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  object-fit: cover;
  filter: invert(1);
}
